@page "/Posts"
@using Domain.Models
@using Domain.Contracts

@inject IPostService _postService;
@inject NavigationManager Navigation;



<h3>Posts</h3>

@foreach (var item in posts)
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">@item.WrittenBy.UserName</a>
                                <div class="text-muted small">@item.date_posted</div>
                            </div>
                            <div class="text-muted small ml-3">
                                <div></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @item.Header
                    </div>
                    
                    <a class="btn btn-outline-dark my-2" @onclick="@(() => Navigation.NavigateTo("/Home/" + item.Id))" role="button">Read more</a>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    
}



@code {


    private string errorLabel;
    private ICollection<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await _postService.GetPostAsync();
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message}";
        }

    }
    
    private async Task Visit(string itemId)
    {
        Navigation.NavigateTo($"Home/{itemId}");
    }
    
}